body {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;

  background-color: #222831;
}

.high-score {
  width: 100%;
  color: rgb(238, 238, 238);
  font-size: 1.5em;
}

.counter-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#counter {
  font-size: 2em;
  color: aqua;
  margin: 5%;
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;

  height: 60%;
  width: 80%;

  gap: 0 25%;
}

.boards {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /*children related to each other */
  align-items: start;
  /*children related to the container*/
  align-content: center;

  max-height: 500px;
  min-height: 400px;
  max-width: 500px;
  min-width: 400px;
  padding: 20px 0 20px 0;

  border: 10px groove rgb(149, 149, 149);
  border-radius: 20px 0px 20px 0px;
}

.cells {
  border: 1px solid rgb(0, 173, 200);
  width: 45px;
  height: 45px;

  color: red;
  font-size: 3em;
  font-family: "Comfortaa", sans-serif;

  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.win-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(57, 62, 70, 0.7);
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.win-div span {
  text-align: center;
  color: aqua;
  font-size: 3em;
  margin-bottom: 0;
  min-width: 100%;

  /*font style link: https://codepen.io/thebabydino/pen/RNNQNxx*/
  place-self: center;
  background: linear-gradient(90deg, #00f, #0ff, #00f) -100%/ 200%;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font: 900 clamp(2em, 10vw, 10em) exo, sans-serif;
  animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
  to {
    background-position: 100%;
  }
}

.reset-btn {
  background-color: darkcyan;
  margin-top: -50%;
  font-size: 3em;
}

.reset-btn :hover {
  background-color: default;
}
